* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
@import './Style/Global/Header.css';
@import './Style/Global/Footer.css';
@import './Style/Global/Touch.css';
@import './Style/Global/Country.css';

/* Pages */
@import './Style/Pages/Home.css';
@import './Style/Pages/Company.css';
@import './Style/Pages/Location.css';
@import './Style/Pages/Contact.css';

/* SUBPAGES */
@import './Style/SubPages/WebDesign.css';
@import './Style/SubPages/AppDesign.css';
